<label>Server name</label>

<!-- <input 
type="text"
class="form-control"
(input)="onUpdateServerName($event)">
 -->
 <hr>

<input 
type="text"
class="form-control"
[(ngModel)]= "serverName">
<!-- <p>{{serverName}}</p> -->


<hr>

<button class="btn btn-primary" 
[disabled]="!allowNewServer"
(click)="onCreatedServer()"
> Add Server</button>


<hr>

 <!-- <p [innerText]="allowNewServer"></p> -->

<!-- <p>{{serverCreationStatus}}</p> -->
<p *ngIf="serverCreated" >Server was created, server name is {{serverName}}</p>
<hr>



<button (click)= "onToggleDetails()" class="btn btn-primary">Display Details</button>
<hr>

<p *ngIf="showText">Secret Password = tuna</p>

<div *ngFor= "let buttonClick of buttonClicks; let i = index"
[ngStyle]= "{backgroundColor: i >= 4 ? 'blue': 'transparent'}"
[ngClass]="{'white-text': i >= 5}">{{buttonClick}}</div>



<app-server *ngFor="let server of servers"></app-server>
